.field {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.fieldRange {
  display: grid;
  grid-template-columns: 3fr 1fr 3rem;
  gap: 1rem;
  align-items: center;
  accent-color: var(--button-bg);
}

.label {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  order: -1;
  color: var(--color);
}

.labelCheckbox {
  width: 100%;
  justify-content: space-between;
}

.description {
  display: block;
  margin: 0;
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--color);
}

.field input[type='text'],
.field select {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem !important;
  border: 2px solid;
  position: relative;
  z-index: 1;
  font-size: 0.9rem;
  max-width: 6rem;
  align-self: flex-start;
}

.field input[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

.field i {
  position: relative;
  right: 0;
  top: 0;
  width: 6rem;
  height: 28px;
  border-radius: 0.25rem;
  padding: 4px;
  border: 2px solid;
  cursor: pointer;
}

.field i::after {
  content: '';
  background: currentColor;
  width: 25px;
  border-radius: 0.25rem;
  transition: all 0.3s;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
}

.field i::before {
  content: 'No';
  position: absolute;
  right: 2px;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  width: calc(100% - 25px - 4px);
  font-style: normal;
  text-transform: uppercase;
  transition: all 0.3s;
}

.input:checked + .label i::after {
  left: calc(100% - 25px - 2px);
}

.input:checked + .label i::before {
  content: 'Yes';
  right: calc(25px + 2px);
}

.field:has([type='checkbox']:focus) i {
  box-shadow: 0 0 0 2px var(--ds-border-focused, #4c9aff);
}

.rangeOutput {
  text-align: right;
}

.fieldDisabled {
  pointer-events: none;
  opacity: 0.5;
}
