.pertRowsForm {
  border: 1px solid var(--pert-border);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  container-type: inline-size;
}

.row {
  grid-template-columns: 3fr repeat(3, 1fr);
  display: grid;
  gap: 1rem;
  width: 100%;
}

.row:has(button) {
  grid-template-columns: 3fr repeat(3, 1fr) 36px;
}

@container (max-width: 580px) {
  .row {
    grid-template-columns: 1fr;
  }
}

.row button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.label {
  position: absolute;
  padding: 0 0.1rem;
  left: 0;
  top: 0.4rem;
  font-size: 1rem;
  z-index: 0;
  opacity: 0;
}

.field {
  width: 100%;
  padding: 0.7rem 0.5rem 0.6rem;
  border-radius: 0.25rem !important; /* overwrite JIRA styles */
  border: 2px solid var(--pert-field-border);
  position: relative;
  z-index: 1;
  font-size: 1rem;
  background: var(--pert-field-bg);
}

.field:focus {
  border-color: var(--pert-primary);
}

.field:focus::placeholder {
  color: var(--pert-field-bg);
}

.field:focus,
.field:not(:placeholder-shown) {
  padding: 1.1rem 0.5rem 0.2rem;
}

.field:focus + .label,
.field:not(:placeholder-shown) + .label {
  left: 0.5rem;
  top: 0.3rem;
  z-index: 2;
  font-size: 0.75rem;
  opacity: 1;
}

.footer {
  display: flex;
  gap: 1rem;
}

.addTask {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
