.pertRowsForm {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  container-type: inline-size;
}

.row {
  grid-template-columns: 3fr repeat(3, 1fr);
  display: grid;
  gap: 1rem;
  width: 100%;
}

.row:has(button) {
  grid-template-columns: 3fr repeat(3, 1fr) 36px;
}

@container (max-width: 580px) {
  .row {
    grid-template-columns: 1fr;
  }
}

.row button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.label {
  position: absolute;
  padding: 0 0.25rem;
  left: 0;
  top: 0.4rem;
  font-size: 1rem;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.label::before {
  content: '';
  border-top: 4px solid #fff;
  left: 0;
  right: 0;
  display: block;
  top: 6px;
  position: absolute;
  z-index: 0;
}

.label span {
  position: relative;
  z-index: 1;
}

.field {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem !important;
  border: 2px solid;
  position: relative;
  z-index: 1;
  font-size: 1rem;
}

.field:focus::placeholder {
  color: #fff;
}

.field:focus,
.field:not(:placeholder-shown) {
  padding: 0.7rem 0.5rem 0.3rem;
}

.field:focus + .label,
.field:not(:placeholder-shown) + .label {
  left: 0.5rem;
  top: -0.5rem;
  z-index: 2;
  font-size: 0.75rem;
  opacity: 1;
}

.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus,
.field:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.footer {
  display: flex;
  gap: 1rem;
}
